.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  gap: 1.75%;
  /* padding: 10px; */
  /* scroll-snap-type: y mandatory; */
}

.grid-item {
  user-select: none;
  position: relative;
  border-radius: 8%
}

.moving {
  transform: scale(1.075);
  border-radius: 8%;

}
