.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  gap: 4px;
  padding: 0px;
  /* scroll-snap-type: y mandatory; */
}

.grid-item {
  user-select: none;
  position: relative;
  border-radius: 0.5rem;
}

.moving {
  border-radius: 0.5rem;
}
