* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

:root {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.0125rem;
  line-height: 1.25rem;

  --border-radius-small: 0.5rem;
  --standard-box-shadow: 0px 0.375rem 0.25rem -0.0625rem rgba(0, 0, 0, 0.15);
}

.pallet {
  display: grid;
}

.rack {
  background-color: rgb(230, 214, 180);
  border-radius: 0.5rem;
  box-shadow: 0px 3px 4px 2px rgba(0, 0, 0, 0.363);
}

.svg-tile {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 0.375rem;
  box-shadow: inset 0px -2px 8px 4px rgba(255, 255, 255, 0.3);
}

.selected {
  transform: translate(0px, -24px) scale(1.075);
  box-shadow: 0px 3px 4px 2px rgba(0, 0, 0, 0.363);
}
.not-selected {
  filter: brightness(.8) saturate(.8);

}

.valid-space {
  width: 100px;
  height: 100px;
  border-radius: 0.375rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .valid-space__border {
    width: 75%;
    height: 75%;
    outline: 4px dashed greenyellow;
    border-radius: 25%;
  }
}

svg {
  width: 100%;
  height: 100%;
}
.svgTile__svg {
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 7%;
}

.RED {
  fill: red;
}
.ORANGE {
  fill: rgb(255, 128, 0);
}
.YELLOW {
  fill: rgb(255, 255, 0);
}
.GREEN {
  fill: rgb(0, 192, 0);
}
.BLUE {
  fill: rgb(0, 64, 255);
}
.PURPLE {
  fill: rgb(192, 0, 192);
}

body {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: rgb(255, 255, 255);
  /* height: 100vh; */
}

.grid {
  height: 100%;
  width: 100%;
  position: relative;
}

.cell {
  position: absolute;
}

.zpw {
  outline: solid 0px hsl(120, 55%, 45%);

  overflow: hidden;

  position: relative;

  border-radius: 12px;
}

.frame {
  width: 100%;
  height: 100%;
}

.view {
  position: absolute;
  /* background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Crepuscular_Rays_Reno_Nevada_USA.jpg/800px-Crepuscular_Rays_Reno_Nevada_USA.jpg);
    background-size:cover;
    background-repeat: no-repeat; */

  background-color: rgb(3, 100, 3);

  --holes: hsl(120, 100%, 12%);

  background-size: 50px 50px, 200px 200px, 100% 100%;
  background-position: 25px 25px, 100px 100px, 0 0;
  background-image: radial-gradient(
      circle,
      var(--holes) 2px,
      var(--holes) 2px,
      rgba(0, 0, 0, 0) 3px
    ),
    radial-gradient(
      circle,
      var(--holes) 5px,
      var(--holes) 5px,
      rgba(0, 0, 0, 0) 6px
    ),
    radial-gradient(
      circle,
      var(--holes) 9px,
      var(--holes) 9px,
      rgba(0, 0, 0, 0) 10px
    );
}

.panel {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
}

.panel__controls {
  position: absolute;
  margin: 6px;
  padding: 6px 4px;
  width: minmax(40px, min-content);
  height: minmax(100px, min-content);
  background-color: rgba(172, 255, 47, 0.2);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.svg-element {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: white;

  svg {
    width: 100%;
    height: 100%;
  }
}

.svg_element__svg {
  width: 100%;
  height: 100%;
}

.controls__icon {
  width: 30px;
  height: 30px;
  aspect-ratio: 1;
}

.board {
  height: 100px;
  width: 100px;
  background-color: orange;
  position: absolute;
}
