* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
  }
  
  :root {
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.0125rem;
    line-height: 1.25rem;
  
    --border-radius-small: 0.5rem;
    --standard-box-shadow: 0px 0.375rem 0.25rem -0.0625rem rgba(0, 0, 0, 0.15);
  }

.svg-tile {
    width: 150px;
    height: 150px;


}

svg {
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 7%;
    
}

.red {
    fill: red;
}
.orange {
    fill: orangered;
}
.yellow {
    fill: yellow;
}
.green {
    fill: green;
}
.blue {
    fill: blue;
}
.purple {
    fill: purple;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100vh;
}

/* .pallet {
    display: flex;
    gap: 1rem;
} */

/* 

.grid {
    background-color: rgb(0, 0, 0);
    height: 616px;
    width: 616px;

    position: relative;
}

.cell {
    background-color: rgb(255, 255, 255); 
    position: absolute;   
} */

.outer {
    outline: solid 3px black;

    overflow: hidden;

    position: relative;
}
.inner {
    background-color: green;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Cow_%28Fleckvieh_breed%29_Oeschinensee_Slaunger_2009-07-07.jpg/800px-Cow_%28Fleckvieh_breed%29_Oeschinensee_Slaunger_2009-07-07.jpg);
    background-size:contain;
    /* width: 1232px;
    height: 918px; */

    position: absolute;

}
